@using RaidGroupFinder.Data.Model
@inject NavigationManager NavigationManager
@inject RaidGroupFinder.Data.DbService DbService


<div class="ui grid @Bg raid-card" @onclick="JoinRoom">
    <img src="@IconPath" class="five wide column bg-img @Status">
    <div class="ten wide column padding-bottom-10 padding-top-10">
        <div class="header">
            <div class="float-right">
                @*@for (int i = 0; i < RaidBattle.Raid.Tier; i++)
                {
                    <img src="/icons/raid-icon-24.png" class="raid-icon" />
                }*@
                <div class="float-right">
                    <b>Tier @RaidBattle.Raid.Tier</b>
                </div>
            </div>
            <div class="text-white text-xl-left"><b>@RaidBattle.Raid.Pokemon.Name</b></div>

            <div class="text-white">Host: <b>@RaidBattle.Host</b></div>
            @if (OffSet == null)
            {
                <div class="text-white truncate">Hatched <b>@RaidBattle.Hatched.ToShortTimeString()</b> at @RaidBattle.Location</div>
            }
            else
            {
                <div class="text-white truncate">Hatched <b>@RaidBattle.Hatched.Add(OffSet).ToShortTimeString()</b> at @RaidBattle.Location</div>
            }
            @if (Active)
            {
            <div class="text-white">Players: <b>(@Players/6)</b></div>
            }
        </div>
    </div>
    @if (Active)
    {
    <div class="align-items-center arrow">
        <img src="/icons/next-24.svg" />
    </div>
    }
</div>

@code {
    [Parameter]
    public RaidBattle RaidBattle { get; set; }
    [Parameter]
    public string IconPath { get; set; }
    [Parameter]
    public TimeSpan OffSet { get; set; }
    [Parameter]
    public bool Active { get; set; }

    private string Status = "inactive";
    private string Bg = "bg-dark";

    private int Players = 1;

    void JoinRoom()
    {
        if (Active)
        {
            NavigationManager.NavigateTo($"raid/{RaidBattle.Guid}");
        }
    }
    protected override async Task OnInitializedAsync()
    {
        if (Active)
        {
            Bg = "bg-indianred arrow";
            Status = ""; 
            Players = await DbService.GetPlayersInRaidRoom(RaidBattle.Guid);
        }


        StateHasChanged();
    }
}
