@page "/raid/{Room}"
@using Microsoft.AspNetCore.SignalR.Client
@using RaidGroupFinder.Data
@using System.Text.RegularExpressions
@inject AuthenticationStateProvider AuthenticationStateProvider
@using Microsoft.AspNetCore.Identity;
@inject UserManager<ApplicationUser> UserManager;
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager
@inject FixedSizedQueueService FixedSizedQueueService
@implements IDisposable

<AuthorizeView>
    <NotAuthorized>
        <h2>You need to <a href="Identity/Account/Login">Login</a> first</h2>
    </NotAuthorized>
    <Authorized>
        <div class="ui padded bg-white">
            <div class="ui minimal comments" id="chat">
                @if (Messages != null)
                {
                    @foreach (var me in Messages)
                    {
                        <div class="comment">
                            <div class="content">
                                <a class="author"> @me.Item1</a>
                                <div class="metadata">
                                    <span class="date">@me.Item3.ToLocalTime()</span>
                                </div>
                                <div class="text">
                                    @me.Item2 
                                </div>
                            </div>
                        </div>                    
                    }
                }
            </div>
            <input type="text" class="fit" placeholder="Trainer Code" @bind="@Message">
            <button class="ui button teal" disabled="@(!IsConnected)" @onclick="Send">Send</button>
        </div>
</Authorized>
</AuthorizeView>

@code {
    [Parameter]
    public string Room { get; set; }

    private HubConnection HubConnection;
    private List<(string, string, DateTime)> Messages = new List<(string, string, DateTime)>();
    private string Message;
    private string User;



    protected override async Task OnInitializedAsync()
    {
        HubConnection = new HubConnectionBuilder()
            .WithUrl(NavigationManager.ToAbsoluteUri("/chathub"))
            .WithAutomaticReconnect()
            .Build();

        HubConnection.On<string, string, DateTime>("ReceiveMessage", (usr, message, date) =>
        {
            Messages.Add((usr, message, date));
            base.StateHasChanged();
        });

        await HubConnection.StartAsync();

        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity.IsAuthenticated)
        {
            var currentUser = await UserManager.GetUserAsync(user);
            User = currentUser.PokemonGoNickname;
        }

        await HubConnection.SendAsync("SendMessage", User, Message, Room, true);

    }

    protected void Send()
    {
        HubConnection.SendAsync("SendMessage", User, Message, Room, false);
    }

    public bool IsConnected =>
    HubConnection.State == HubConnectionState.Connected;

    public void Dispose()
    {
        _ = HubConnection.DisposeAsync();
    }
}